<!--login-->
<div class="signin-background">
    <div class="container">
        <div class="col-12">
            <form action="" class="form-wrapper">
                <div class="form-background">
                    <h3 class="form-title">Tenant Software</h3>
                    <input type="text" class="formEmail" placeholder="Email">
                    <input type="text" class="formPass" placeholder="Password">
                    <button type="submit">Login</button>
                    <p class="small-text">If you don't have an account, please sign up as a <a href="/landlord-signup">landlord</a> or a <a href="/tenant-signup">tenant</a>.</p>
                </div>
            </form>
        </div>
    </div>
</div>
<!--login-->
<footer>
    <p>&copy; Tenant Software</p>
</footer>

<script src="/javascript/login.js"></script>