<div class="col-10 main-container">
    <div class="row justify-content-center">
        <div class="col-4">
            <!--PUT INFO OF TENANT IN THIS CARD-->
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title"><!--tenant name--></h5>
                    <!--tenant info for quick view-->
                    <div class="row">
                        <div class="col-3">
                            <ul class="list-wrapper-left">
                                <li class="list-item">Complex:</li>
                                <li class="list-item">Apt #: </li>
                                <li class="list-item">Rent: </li>
                            </ul>
                        </div>
                        <div class="col-9">
                            <ul class="list-wrapper-right">
                                <li class="list-item">Green Wood North</li>
                                <li class="list-item">1224</li>
                                <li class="list-item">$1000.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#">More Info</a>
            </div>
            <!--end tenant card info-->
        </div>
    </div>
</div>